

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100vh;
    align-items: stretch;
}

.headerBackground {
    background: #1F2937;
}

.headerOne {
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 200px;
    padding-right: 200px;
}

.headerLogo {
    color: #F9FAF8;
    font-size: 24px;
}

.headerLinks {
    display: flex;
    gap: 16px;
}

.headerLinks div a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.headerTwo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 100px;
    padding-top: 100px;
   
}

.headerTwoLeftSide {
    width: 350px;
}

.heroMainText {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.heroSecondaryText {
    font-size: 18px;
    color: #E5E7EB;
}

.headerTwoButton {
    background-color: #3882F6;
    color: white;
    border: none;
    margin-top: 8px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 8px;
}

.headerTwoRightSide {
    color: white;
    background-color: gray ;
    width: 600px;
    align-self: stretch;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.contentOneWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 62px;
}

.contentOneTopic {
    padding-top: 32px;
    padding-bottom: 32px;

    font-size: 36px;
    font-weight: 800;
}

.contentOne {
    display: flex;
    gap: 48px;
}

.card {
    border: solid #3882F6;
    border-radius: 8px;
    height: 150px;
    width: 150px;
}

.contentOneCardOne,
.contentOneCardTwo,
.contentOneCardThree,
.contentOneCardFour {
    display: flex;
    flex-direction: column;
}

.cardText {
    max-width: 150px;
    align-self: center;
    text-align: center;
}


.contentTwoWrapper {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
}

.contentTwo {
    display: flex;
    flex-direction: column;
    max-width: 750px;
    padding-top: 80px;
    padding-bottom: 80px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.quoteAuthor {
    align-self: flex-end;
    font-weight: bold;
    font-size: 24px;
    color: #1F2937;
}

.footerOne {
    display: flex;
    justify-content: center;
    background-color: #3882F6;
    gap: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left:auto;
    margin-right: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 130px;
    padding-right: 130px;
    border-radius: 5px;
}

.footerOneLeftSideTextOne {
    color: white;
    font-weight: bold;
}
.footerOneLeftSideTextTwo {
    color: white;
}

.footerOneRightSide {
    display: flex;   
}

.footerOneRightSide button{
    border: solid;
    border-radius: 8px;
    border-color: white;
    background-color: transparent;
    color: white;
    padding-left: 20px;   
    padding-right: 20px; 
}

.footerTwo {
    text-align: center;
    background-color: #1F2937;
    padding-top: 30px;
    padding-bottom: 30px;   
}

.copyright {
    color: white;
}
